{
    <style type="text/css">
    
    <!--
    
    body {
    
    text-align: center;
    
    min-width: 760px;
    
    }
    }
    
    #wrapper {
    
    width: 720px;
    
    margin: 0 auto;
    
    text-align: left;
    
    
    
    -->
    
    </style>
    
    }