<!DOCTYPE html>
<html lang="vi" dir="ltr">
  <head>
    <title>Laptop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/Style/CanGiua.css">
    <div class="heading">
        <img src="../../Images/Heading1.jpg" alt="Heading" width="100%">
    </div>
    <link rel="stylesheet" href="../../Style/Shopping.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
<body>
  <div class="hr">
    <hr>
  </div>
  <div class="menu">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a href="./index.html"><button type="button" class="btn btn-secondary">Home</button></a>
      <a href="./PC.html"><button type="button" class="btn btn-secondary">PC</button></a>
      <a href="./Laptop.html"><button type="button" class="btn btn-secondary">Laptop</button></a>
    </div>
    <div class="ex1">
      <input class="ex1" type="text" value="" size="50" autocomplete="off" placeholder="Search..." name="s" width="100%">
      <a href="./Cart.html"><img src="../../Images/Cart.jpg" alt="Cart" width="40px" height=" 40px"></a>
      <a href="./Login.html"><img src="../../Images/Avatar.png" alt="Avartar" width="30px" height="35px"></a>
    </div>
  </div>
  <div class="hd1">
    <p>Gaming Gear</p>
  </div>
  <div class="row">
        <div class="col-sm">
          <div class="Pla-unit-container">
            <a href="LaptopAcerNitro5.html"><img src="../../Images/AcerNitro5.jpg" alt="AcerNitro5" width="250px"></a>
            <div class="pla-unit-title T4OwTb"><span>Laptop AcerNitro5</span></div>
            <div class="e10twf T4OwTb"><span>31.990.000 VND</span></div>
          </div>
        </div>

        <div class="col-sm">
          <div class="Pla-unit-container">
            <a href="LaptopMSIGP65.html"><img src="../../Images/MSIGP65.png" alt="MSIGP65" width="250px"></a>
            <div class="pla-unit-title T4OwTb"><span>Laptop MSI GP 65</span></div>
            <div class="e10twf T4OwTb"><span>39.990.00 0VND</span></div>
          </div>
        </div>

          <div class="col-sm">
            <div class="Pla-unit-container">
              <a href="LaptopAsusROG.html"><img src="../../Images/AsusROG.jpg" alt="AsusROG" width="250px"></a>
              <div class="pla-unit-title T4OwTb"><span>Laptop Asus ROG Strix G G731GT</span></div>
              <div class="e10twf T4OwTb"><span>30.490.000 VND</span></div>
            </div>
          </div>

          <div class="col-sm">
            <div class="Pla-unit-container">
              <a href="LaptopDell15.html"><img src="../../Images/Dell15.jpg" alt="Dell15" width="250px"></a>
              <div class="pla-unit-title T4OwTb"><span>Laptop Dell Inspiron Dell 15 </span></div>
              <div class="e10twf T4OwTb"><span>29.190.000 VND</span></div>
            </div>
          </div>
      </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
