<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../template/head', { title: "Client !" } ); %>
    </head>
    <body>

        <H1> Your DEVICE: </H1> 
        <H3>
            <BR> <b>IP: </b> <%=clientAddress %>
            <BR> <b>connect: </b> <%=connectHost %>
            <BR><BR> <b>Agent: </b> <%=AgentInfor %>
        </H3>

    </body>

</html> 