    <!-- Footer -->
    <footer class="navbar-fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="/"> ATD.AdTekDev !!! </a>
        </div>
        <!-- Copyright -->
    
    </footer>
    <!-- Footer -->